<!DOCTYPE html>
<html>
<head>
  <title>Timeline</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <div class="timeline">
    <ul>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>What is Lorem Ipsum</h3>
          <p>Kipya Africa Limited was founded in the year 2012. Since then, we have grown into Africa's leading Knowledge Solutions Provider in the Extractive and Energy Industries.</p>
        </div>
        <div class="time">
          <h4>January 2012</h4>
        </div>
      </li>
      <!-- <div></div> -->
    </ul>
  </div>
</body>
</html>